<a href="https://colab.research.google.com/github/ayoubouafdi/BigDataLabs/blob/main/Lab_Spark_SQL_FIFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Téléchargement du fichier depuis une source brute
!wget https://raw.githubusercontent.com/martj42/international_results/master/results.csv

--2026-01-27 17:41:13--  https://raw.githubusercontent.com/martj42/international_results/master/results.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3686208 (3.5M) [text/plain]
Saving to: ‘results.csv.1’

results.csv.1       100%[===================>]   3.51M  --.-KB/s    in 0.07s

2026-01-27 17:41:13 (50.6 MB/s) - ‘results.csv.1’ saved [3686208/3686208]

In [ ]:
# Installation de PySpark
!pip install pyspark

# Initialisation de la session
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

# Chargement du fichier téléchargé
df = spark.read.csv("results.csv", header=True, inferSchema=True)

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql.functions import col, year, desc

# 1. Nombre de matchs [cite: 7]
print(f"Nombre de matchs présents : {df.count()}")

# 2. Première et dernière année [cite: 8]
df.select(year(col("date")).alias("year")).selectExpr("min(year) as Debut", "max(year) as Fin").show()

# 3. Les 10 tournois les plus fréquents [cite: 9]
print("Top 10 des tournois :")
df.groupBy("tournament").count().orderBy(desc("count")).show(10)

# 4. Matchs sur terrain neutre [cite: 10]
count_neutral = df.filter(col("neutral") == True).count()
print(f"Nombre de matchs sur terrain neutre : {count_neutral}")

# 5. Top 10 des pays ayant accueilli le plus de matchs [cite: 11]
print("Top 10 des pays hôtes :")
df.groupBy("country").count().orderBy(desc("count")).show(10)

# 6. Combien de matchs ont terminé sur un score nul?
# On compare si home_score est égal à away_score
matchs_nuls = df.filter(col("home_score") == col("away_score")).count()
print(f"Nombre de matchs nuls : {matchs_nuls}")

# 7. Afficher les matchs où le score total (home + away) est supérieur à 6
# On crée une colonne temporaire 'total_score' pour le filtre
print("Matchs avec un score total > 6 :")
df.withColumn("total_score", col("home_score") + col("away_score")).filter("total_score > 6").select("date", "home_team", "away_team", "home_score", "away_score", "total_score").show()

Nombre de matchs présents : 48943
+-----+----+
|Debut| Fin|
+-----+----+
| 1872|2026|
+-----+----+

Top 10 des tournois :
+--------------------+-----+
|          tournament|count|
+--------------------+-----+
|            Friendly|18171|
|FIFA World Cup qu...| 8688|
|UEFA Euro qualifi...| 2824|
|African Cup of Na...| 2278|
|      FIFA World Cup|  964|
|        Copa América|  869|
|African Cup of Na...|  845|
|AFC Asian Cup qua...|  829|
| UEFA Nations League|  658|
|          CECAFA Cup|  620|
+--------------------+-----+
only showing top 10 rows
Nombre de matchs sur terrain neutre : 12902
Top 10 des pays hôtes :
+--------------------+-----+
|             country|count|
+--------------------+-----+
|       United States| 1472|
|              France|  912|
|            Malaysia|  830|
|             England|  761|
|               Qatar|  760|
|            Thailand|  722|
|              Sweden|  686|
|             Germany|  683|
|United Arab Emirates|  601|
|        South Africa|  599|
+--------------------+-----+
only showing top 10 rows
Nombre de matchs nuls : 11121
Matchs avec un score total > 6 :
+----------+----------------+----------------+----------+----------+-----------+
|      date|       home_team|       away_team|home_score|away_score|total_score|
+----------+----------------+----------------+----------+----------+-----------+
|1878-03-02|        Scotland|         England|         7|         2|          9|
|1878-03-23|        Scotland|           Wales|         9|         0|          9|
|1879-04-05|         England|        Scotland|         5|         4|          9|
|1880-03-13|        Scotland|         England|         5|         4|          9|
|1881-03-12|         England|        Scotland|         1|         6|          7|
|1882-02-18|Northern Ireland|         England|         0|        13|         13|
|1882-02-25|           Wales|Northern Ireland|         7|         1|          8|
|1882-03-13|           Wales|         England|         5|         3|          8|
|1883-02-24|         England|Northern Ireland|         7|         0|          7|
|1884-02-23|Northern Ireland|         England|         1|         8|          9|
|1885-03-14|        Scotland|Northern Ireland|         8|         2|         10|
|1885-03-23|           Wales|        Scotland|         1|         8|          9|
|1885-04-11|Northern Ireland|           Wales|         2|         8|         10|
|1886-03-13|Northern Ireland|         England|         1|         6|          7|
|1886-03-20|Northern Ireland|        Scotland|         2|         7|          9|
|1887-02-05|         England|Northern Ireland|         7|         0|          7|
|1888-03-03|           Wales|Northern Ireland|        11|         0|         11|
|1888-03-24|Northern Ireland|        Scotland|         2|        10|         12|
|1889-03-02|         England|Northern Ireland|         6|         1|          7|
|1889-03-09|        Scotland|Northern Ireland|         7|         0|          7|
+----------+----------------+----------------+----------+----------+-----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col, desc, sum

# 8. Nombre total de matchs joués par chaque équipe (domicile + extérieur)
home_counts = df.groupBy("home_team").count().withColumnRenamed("home_team", "team")
away_counts = df.groupBy("away_team").count().withColumnRenamed("away_team", "team")

# Union des deux et agrégation finale
total_matches = home_counts.union(away_counts).groupBy("team").agg(sum(col("count")).alias("total_played")).orderBy(desc("total_played"))

print("Nombre total de matchs par équipe :")
total_matches.show(10)

# 9. Top 10 des équipes ayant marqué le plus de buts
# On calcule les buts marqués à domicile et à l'extérieur séparément
home_goals = df.groupBy("home_team").agg(sum(col("home_score")).alias("goals")).withColumnRenamed("home_team", "team")
away_goals = df.groupBy("away_team").agg(sum(col("away_score")).alias("goals")).withColumnRenamed("away_team", "team")

top_scorers = home_goals.union(away_goals).groupBy("team").agg(sum(col("goals")).alias("total_goals_scored")).orderBy(desc("total_goals_scored"))

print("Top 10 des équipes les plus prolifiques :")
top_scorers.show(10)

Nombre total de matchs par équipe :
+-----------+------------+
|       team|total_played|
+-----------+------------+
|     Sweden|        1097|
|    England|        1086|
|  Argentina|        1062|
|     Brazil|        1055|
|    Germany|        1027|
|South Korea|        1003|
|    Hungary|        1002|
|     Mexico|         996|
|    Uruguay|         964|
|     France|         931|
+-----------+------------+
only showing top 10 rows
Top 10 des équipes les plus prolifiques :
+-----------+------------------+
|       team|total_goals_scored|
+-----------+------------------+
|    England|              2376|
|    Germany|              2308|
|     Brazil|              2293|
|     Sweden|              2162|
|  Argentina|              2009|
|    Hungary|              2005|
|Netherlands|              1836|
|South Korea|              1786|
|     Mexico|              1753|
|     France|              1706|
+-----------+------------------+
only showing top 10 rows

In [ ]:
from pyspark.sql.functions import floor, avg, col, year

#10. On extrait l'année, on divise par 10, on arrondit à l'inférieur et on multiplie par 10
df_with_decade = df.withColumn("decade", (floor(year(col("date")) / 10) * 10))

stats_decade = df_with_decade.groupBy("decade").agg(avg(col("home_score") + col("away_score")).alias("moyenne_buts")).orderBy("decade")

print("Moyenne de buts par match par décennie :")
stats_decade.show()

Moyenne de buts par match par décennie :
+------+------------------+
|decade|      moyenne_buts|
+------+------------------+
|  1870| 4.538461538461538|
|  1880| 5.581818181818182|
|  1890|5.1525423728813555|
|  1900| 4.182481751824818|
|  1910| 4.218181818181818|
|  1920|3.8840579710144927|
|  1930| 4.318813716404078|
|  1940|  4.34453781512605|
|  1950| 4.004239854633555|
|  1960| 3.478129205921938|
|  1970|2.9750726040658275|
|  1980|  2.52687101910828|
|  1990|2.7790580440731674|
|  2000| 2.801259842519685|
|  2010|2.7321575061525842|
|  2020|2.7028520499108732|
+------+------------------+

In [ ]:
from pyspark.sql.functions import col, year, desc, when, avg, abs

#11. Groupement par deux colonnes et comptage
print("11. Statistiques du nombre de matchs organisés par tournoi et par année :")
df.groupBy("tournament", year(col("date")).alias("year")).count().show()

#12. Filtre sur les victoires à domicile (score domicile > score extérieur)
print("12. Classement des équipes les plus performantes à domicile (nombre de victoires) :")
df.filter(col("home_score") > col("away_score")).groupBy("home_team").count().orderBy(desc("count")).show()

#13. On définit le résultat pour chaque match (W, L, D) puis on regroupe
print("13. Bilan complet par équipe (Nombre de victoires, défaites et matchs nuls) :")
results = df.select(col("home_team").alias("t"), when(col("home_score") > col("away_score"), "W").when(col("home_score") < col("away_score"), "L").otherwise("D").alias("res")).union(df.select(col("away_team").alias("t"), when(col("away_score") > col("home_score"), "W").when(col("away_score") < col("home_score"), "L").otherwise("D").alias("res")))
results.groupBy("t", "res").count().show()

#14. Comparaison de la moyenne de la somme des scores selon la colonne 'neutral'
print("14. Comparaison du score moyen : Matchs sur terrain neutre vs Terrain non-neutre :")
df.groupBy("neutral").agg(avg(col("home_score") + col("away_score")).alias("moyenne_buts")).show()

#15. Utilisation de la fonction abs() pour calculer la différence absolue
print("15. Analyse des records : Top 5 des matchs ayant le plus grand écart de buts :")
df.withColumn("ecart", abs(col("home_score") - col("away_score"))).orderBy(desc("ecart")).select("date", "home_team", "away_team", "ecart").show(5)

11. Statistiques du nombre de matchs organisés par tournoi et par année :
+--------------------+----+-----+
|          tournament|year|count|
+--------------------+----+-----+
|     Copa Rio Branco|1946|    1|
|Copa Bernardo O'H...|1959|    2|
|   Copa Félix Bogado|1983|    2|
|        Copa Artigas|1985|    2|
|        Muratti Vase|1986|    2|
|           Kirin Cup|1993|    3|
|        Copa América|2001|   26|
|   AFC Challenge Cup|2014|   16|
|           Kirin Cup|2016|    4|
|            Friendly|2018|  431|
|AFF Championship ...|2018|    2|
| Kirin Challenge Cup|2021|    1|
|    AFF Championship|2021|   25|
|Copa Chevallier B...|1926|    2|
|Copa Bernardo O'H...|1966|    2|
| Nordic Championship|1972|    4|
|  Merdeka Tournament|1974|   10|
|British Home Cham...|1977|    6|
|          King's Cup|1980|    3|
|            Friendly|1984|  243|
+--------------------+----+-----+
only showing top 20 rows
12. Classement des équipes les plus performantes à domicile (nombre de victoires) :
+-------------+-----+
|    home_team|count|
+-------------+-----+
|       Brazil|  435|
|    Argentina|  402|
|       Mexico|  348|
|      Germany|  342|
|      England|  340|
|  South Korea|  327|
|       France|  316|
|       Sweden|  313|
|        Italy|  309|
|        Egypt|  291|
|        Spain|  280|
|      Hungary|  277|
|  Netherlands|  273|
|United States|  271|
|        Japan|  252|
|      Belgium|  247|
|      Denmark|  246|
|     Thailand|  245|
|     Malaysia|  241|
| Saudi Arabia|  235|
+-------------+-----+
only showing top 20 rows
13. Bilan complet par équipe (Nombre de victoires, défaites et matchs nuls) :
+-----------------+---+-----+
|                t|res|count|
+-----------------+---+-----+
|         Brittany|  W|    6|
|           Canada|  W|  178|
|             Cuba|  W|  138|
|         Saarland|  L|    6|
|             Togo|  D|  112|
|             Togo|  L|  191|
|          Algeria|  L|  167|
|           Rhodes|  W|   11|
|        Occitania|  L|    8|
|         Scotland|  D|  182|
|           Mexico|  D|  229|
|          Ecuador|  W|  181|
|Equatorial Guinea|  D|   38|
|             Chad|  L|   77|
|          Georgia|  D|   63|
|    United States|  L|  275|
|         Dominica|  W|   51|
|        Venezuela|  D|  100|
|            Malta|  L|  314|
|    Liechtenstein|  D|   32|
+-----------------+---+-----+
only showing top 20 rows
14. Comparaison du score moyen : Matchs sur terrain neutre vs Terrain non-neutre :
+-------+-----------------+
|neutral|     moyenne_buts|
+-------+-----------------+
|   true|3.041698961401333|
|  false|2.902416692100663|
+-------+-----------------+

15. Analyse des records : Top 5 des matchs ayant le plus grand écart de buts :
+----------+---------+--------------+-----+
|      date|home_team|     away_team|ecart|
+----------+---------+--------------+-----+
|2001-04-11|Australia|American Samoa|   31|
|1971-09-13|   Tahiti|  Cook Islands|   30|
|1979-08-30|     Fiji|      Kiribati|   24|
|2001-04-09|Australia|         Tonga|   22|
|1966-04-03|    Libya|          Oman|   21|
+----------+---------+--------------+-----+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col, desc, sum, when, year, floor, avg, count, row_number, max
from pyspark.sql.window import Window
import pyspark.sql.functions as F

# On combine les buts marqués/encaissés à domicile et à l'extérieur
print("16. Calcul du Goal Average (Buts marqués - Buts encaissés) pour chaque sélection :")
stats_m = df.select(col("home_team").alias("t"), col("home_score").alias("bp"), col("away_score").alias("bc")).union(df.select(col("away_team").alias("t"), col("away_score").alias("bp"), col("home_score").alias("bc")))
stats_m.groupBy("t").agg((sum("bp") - sum("bc")).alias("goal_average")).orderBy(desc("goal_average")).show()


# Définition de la fenêtre de partitionnement par année
print("17. Classement annuel des meilleures équipes (basé sur le nombre de victoires) :")
window_year = Window.partitionBy("year").orderBy(desc("wins"))
wins_df = df.withColumn("winner", when(col("home_score") > col("away_score"), col("home_team")).when(col("away_score") > col("home_score"), col("away_team"))).filter(col("winner").isNotNull()).groupBy(year("date").alias("year"), "winner").agg(count("*").alias("wins"))

wins_df.withColumn("rank",row_number().over(window_year)).filter("rank <= 3").show()


# Calcul de la décennie et agrégation
print("18. Analyse historique : Évolution du volume de matchs joués par décennie :")
df.withColumn("decade", floor(year("date") / 10) * 10).groupBy("decade").count().orderBy("decade").show()


# On identifie d'abord toutes les équipes ayant perdu au moins un match
print("19. Liste des sélections nationales restées invaincues sur une année civile :")
all_t = df.select(year("date").alias("y"), col("home_team").alias("t")).union(df.select(year("date").alias("y"), col("away_team").alias("t"))).distinct()
losers = df.select(year("date").alias("y"), when(col("home_score") < col("away_score"), col("home_team")).otherwise(col("away_team")).alias("t")).filter(col("home_score") != col("away_score")).distinct()
# On utilise right_anti pour garder celles qui ne sont pas dans la liste des perdants
all_t.join(losers, ["y", "t"], "left_anti").orderBy("y").show()




print("20. Version  : Plus longue série de victoires consécutives :")
# To calculate the longest winning streak for each team, we need to transform the data
# such that each row represents a team's result in a match.

# 1. Create a DataFrame with each team's perspective for each match
team_matches_df = df.select(
    col("date"),
    col("home_team").alias("team"),
    when(col("home_score") > col("away_score"), "W")
    .when(col("home_score") < col("away_score"), "L")
    .otherwise("D").alias("result")
).unionAll(
    df.select(
        col("date"),
        col("away_team").alias("team"),
        when(col("away_score") > col("home_score"), "W")
        .when(col("away_score") < col("home_score"), "L")
        .otherwise("D").alias("result")
    )
)

# 2. Order the results by team and date
ordered_team_matches = team_matches_df.orderBy(col("team"), col("date"))

# 3. Identify if it's a win and mark streak breaks
window_spec = Window.partitionBy("team").orderBy("date")

# 'is_winning' is 1 if win, 0 otherwise (draw or loss)
# 'prev_is_winning' checks if the previous match was a win for the same team
# 'streak_breaker' marks where a new streak begins (i.e., not a win or previous was not a win)
streak_df = ordered_team_matches.withColumn(
    "is_winning", when(col("result") == "W", 1).otherwise(0)
).withColumn(
    "prev_is_winning", F.lag(col("is_winning"), 1, 0).over(window_spec)
).withColumn(
    "streak_breaker", when(col("is_winning") == 0, 1).when(col("prev_is_winning") == 0, 1).otherwise(0)
)

# 4. Create a streak group ID using a cumulative sum of streak_breaker
streak_df_with_group = streak_df.withColumn(
    "streak_group", F.sum("streak_breaker").over(window_spec)
)

# 5. Filter for actual wins within each streak group and count them
longest_streaks_df = streak_df_with_group.filter(col("is_winning") == 1)\
    .groupBy("team", "streak_group")\
    .agg(F.count("*").alias("current_streak_length"))\
    .groupBy("team")\
    .agg(F.max("current_streak_length").alias("max_streak"))\
    .orderBy(F.desc("max_streak"))

longest_streaks_df.show(10)





# Détermination du vainqueur par match et ranking par tournoi
print("21. Les rois de la compétition : Équipe la plus victorieuse par tournoi :")
winners = df.withColumn("win", when(col("home_score") > col("away_score"), col("home_team")).otherwise(col("away_team"))).groupBy("tournament", "win").count()
winners.withColumn("rn", row_number().over(Window.partitionBy("tournament").orderBy(desc("count")))).filter("rn = 1").show()


# Jointure des moyennes de buts marqués selon le lieu
print("22. Analyse comparative des performances : Efficacité à domicile vs à l'extérieur :")
h_avg = df.groupBy("home_team").agg(avg("home_score").alias("avg_home"))
a_avg = df.groupBy("away_team").agg(avg("away_score").alias("avg_away"))
h_avg.join(a_avg, h_avg.home_team == a_avg.away_team).select(col("home_team").alias("team"), "avg_home", "avg_away").show()

16. Calcul du Goal Average (Buts marqués - Buts encaissés) pour chaque sélection :
+-----------+------------+
|          t|goal_average|
+-----------+------------+
|     Brazil|        1342|
|    England|        1337|
|    Germany|        1115|
|  Argentina|         937|
|      Spain|         894|
|South Korea|         877|
|Netherlands|         764|
|     Sweden|         749|
|     Mexico|         701|
|      Italy|         685|
|       Iran|         664|
|     Russia|         560|
|  Australia|         544|
|      Japan|         530|
|    Hungary|         524|
|   China PR|         516|
|     France|         502|
|      Egypt|         455|
|   Portugal|         445|
|    Denmark|         409|
+-----------+------------+
only showing top 20 rows
17. Classement annuel des meilleures équipes (basé sur le nombre de victoires) :
+----+--------+----+----+
|year|  winner|wins|rank|
+----+--------+----+----+
|1873| England|   1|   1|
|1874|Scotland|   1|   1|
|1876|Scotland|   2|   1|
|1877|Scotland|   2|   1|
|1878|Scotland|   2|   1|
|1879| England|   2|   1|
|1879|Scotland|   1|   2|
|1880|Scotland|   2|   1|
|1880| England|   1|   2|
|1881|Scotland|   2|   1|
|1881|   Wales|   1|   2|
|1882|Scotland|   2|   1|
|1882|   Wales|   2|   2|
|1882| England|   1|   3|
|1883|Scotland|   2|   1|
|1883| England|   2|   2|
|1884|Scotland|   3|   1|
|1884| England|   2|   2|
|1884|   Wales|   1|   3|
|1885|Scotland|   2|   1|
+----+--------+----+----+
only showing top 20 rows
18. Analyse historique : Évolution du volume de matchs joués par décennie :
+------+-----+
|decade|count|
+------+-----+
|  1870|   13|
|  1880|   55|
|  1890|   59|
|  1900|  137|
|  1910|  330|
|  1920|  828|
|  1930| 1079|
|  1940|  833|
|  1950| 1651|
|  1960| 2972|
|  1970| 4132|
|  1980| 5024|
|  1990| 6943|
|  2000| 9525|
|  2010| 9752|
|  2020| 5610|
+------+-----+

19. Liste des sélections nationales restées invaincues sur une année civile :
+----+-------------+
|   y|            t|
+----+-------------+
|1872|     Scotland|
|1872|      England|
|1873|      England|
|1874|     Scotland|
|1875|      England|
|1875|     Scotland|
|1876|     Scotland|
|1877|     Scotland|
|1878|     Scotland|
|1879|      England|
|1880|     Scotland|
|1881|     Scotland|
|1882|     Scotland|
|1883|     Scotland|
|1884|     Scotland|
|1885|     Scotland|
|1885|      England|
|1885|       Canada|
|1886|United States|
|1886|     Scotland|
+----+-------------+
only showing top 20 rows
20. Version  : Plus longue série de victoires consécutives :
+---------+----------+
|     team|max_streak|
+---------+----------+
|Mauritius|        17|
|  Morocco|        17|
|  Padania|        15|
|    Spain|        15|
|   Brazil|        14|
|   France|        14|
|   Guyana|        13|
|Australia|        13|
| Scotland|        13|
|    Italy|        13|
+---------+----------+
only showing top 10 rows
21. Les rois de la compétition : Équipe la plus victorieuse par tournoi :
+--------------------+-----------+-----+---+
|          tournament|        win|count| rn|
+--------------------+-----------+-----+---+
|     ABCS Tournament|   Suriname|    8|  1|
|       AFC Asian Cup|       Iran|   55|  1|
|AFC Asian Cup qua...|       Iran|   41|  1|
|   AFC Challenge Cup| Tajikistan|   13|  1|
|AFC Challenge Cup...| Tajikistan|    8|  1|
|    AFF Championship|   Thailand|   63|  1|
|AFF Championship ...|       Laos|   17|  1|
|  ASEAN Championship|    Vietnam|    8|  1|
|ASEAN Championshi...|     Brunei|    1|  1|
|African Cup of Na...|      Egypt|   76|  1|
|African Cup of Na...|Ivory Coast|   91|  1|
|African Friendshi...|    Senegal|    7|  1|
|    Afro-Asian Games|      India|    2|  1|
|Al Ain Internatio...| Uzbekistan|    2|  1|
|   All-African Games|      Egypt|   10|  1|
|  Amílcar Cabral Cup|    Senegal|   51|  1|
|            Arab Cup|       Iraq|   19|  1|
|Arab Cup qualific...|      Sudan|    5|  1|
|         Asian Games|South Korea|   40|  1|
|        Atlantic Cup|     Brazil|    4|  1|
+--------------------+-----------+-----+---+
only showing top 20 rows
22. Analyse comparative des performances : Efficacité à domicile vs à l'extérieur :
+-------------+------------------+------------------+
|         team|          avg_home|          avg_away|
+-------------+------------------+------------------+
|      Kabylia|               0.0|               1.6|
|     Provence|               2.0|               2.9|
|         Chad|1.1044776119402986|0.6086956521739131|
|       Kernow| 2.111111111111111| 4.333333333333333|
|       Russia|2.0397553516819573| 1.498800959232614|
|     Paraguay|1.5365853658536586| 1.127789046653144|
|     Anguilla|0.5862068965517241|0.5517241379310345|
|        Yemen|1.2881355932203389| 0.722972972972973|
|South Ossetia|             1.125|              3.25|
|      Senegal|1.6654545454545455|1.1624649859943978|
|       Sweden| 2.325187969924812|1.6371681415929205|
|        Frøya|2.3333333333333335|1.1363636363636365|
|     Kiribati|               1.0|0.3333333333333333|
|     Ynys Môn|            2.0625|1.6857142857142857|
|       Guyana|1.6153846153846154|1.0980392156862746|
|       Jersey|3.0387596899224807|2.3867924528301887|
|  Philippines|1.5971223021582734|0.9045226130653267|
|      Eritrea|0.6153846153846154|0.7111111111111111|
|        Tibet|               0.6|               1.0|
|     Djibouti|0.7450980392156863|               0.6|
+-------------+------------------+------------------+
only showing top 20 rows